body {
    background-color: beige;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  .mainheader li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  .mainheader {
    background-color: #111;
    padding: 0;
  }
  .mainheader li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }